<ion-header>
  	<ion-toolbar color="medium">
    	<ion-buttons slot="start">
      		<ion-back-button></ion-back-button>
    	</ion-buttons>
    	<ion-title>Tentang</ion-title>
  	</ion-toolbar>
</ion-header>

<ion-content text-center>
	<img src="./assets/icon.png" class="logo">
	<ion-card>
  		<ion-card-content>
  			<p>
  				Pantau Pemilu adalah aplikasi untuk mempermudah dalam memantau / melihat perhitungan suara melalui
  				smartphone. Data diambil langsung dari website resmi KPU. Ayo, Pantau Perhitungan Suara Pemilu kapan saja 
  				dan dari mana saja. 
  			</p>
  			<br/>
  			<p>Kritik, Saran dan Pertanyaan dapat melalui email <b>candraekas@gmail.com.</b></p>
  		</ion-card-content>
	</ion-card>	
</ion-content>
